body{
		margin:auto;
		font-family: Verdana, Tahoma, Arial, sans-serif;
}
a{
	font-size:.9em;
}
a{
	text-decoration:none;
	color:#3399CC	
}
a:visited.tbb{
	color:#CCC;
}
a.tbb{
	color:#CCC;
}
a:visited{
	color:#3399CC;
}
a:hover{		
	color:#003366;
}
ul{
	margin-top:5px;
	list-style-type:circle;
}