body{
	margin:auto;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}
a{
	font-size:.9em;
}
a{
	text-decoration:none;
	color:#3399CC
}
a:visited.tbb{
	color:#CCC;
}
a.tbb{
	color:#CCC;
}
a:visited{
	color:#3399CC;
}
a:hover{
	color:#003366;
}
a.img:hover{
	border:none;
}
span.b{
	font-weight:bold;
}
div.clear{
	clear:both;
}
ul{
	margin-top:5px;
	list-style-type:circle;
}
table.ctable{
   text-align:center;
   border-right:1px solid ;
   border-bottom:1px solid ;
   margin-top:20px;
}
table.ctable thead{
	background-color:#CCC;
}
table.ctable td{
	border-left:1px solid ;
	border-top:1px solid ;
	padding:2px 10px 2px 10px;
} 
